body {
    font-family:'Rocca One', sans-serif;
    margin: 10px;
    background-color: #f7f7f7;
  }
   
  header {
    background-color: #3c68a0;
    color: white;
    padding: 15px;
    text-align: center;
    position: relative;
  }
   
  .top-bar input[type="text"] {
    padding: 8px;
    border-radius: 20px;
    border: none;
    width: 200px;
  }
   
  .top-bar h1 {
    margin: 10px 0 5px;
    font-size: 24px;
  }
   
  .slogan {
    font-size: 12px;
    margin: 0;
  }
   
  .icons {
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    gap: 10px;
    font-size: 18px;
  }
   
  main {
    padding: 20px;
  }
   
  .destaques h2,
  .publicacoes h2 {
    margin-bottom: 10px;
    color: #333;
  }
   
  .destaques-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
   
  .card {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
  }
   
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   
  .card.vazio {
    background-color: #ccc;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
   
  .publicacoes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
   
  .post-card {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    width: calc(50% - 10px);
    font-family: 'Rocca One', sans-serif;
  }
   
  .post-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 8px;
  }
   
  .post-card p {
    margin: 0;
    color: #444;
  }

  .info-final {
  background-color: #3c68a0;
  color: white;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Rocca One', sans-serif;
}
 
.container-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
 
.card-info {
  background-color: #3c68a0;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 00.4);
  border: 1px solid rgba(0,0,0,0.3);
}
 
.card-info h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}
 
.card-info p {
  font-size: 14px;
}
 
.icon-info {
  width: 40px;
  height: 40px;
}
 
.contato-final h4 {
  margin-bottom: 10px;
}
 
.contato-final p {
  margin: 5px 0;
}
 
   